@model IEnumerable<myFootball.ViewModels.PlayerGroup>

@{
    ViewBag.Title = "MainView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Data urodzenia</th>
            <th>Miejsce zamieszkania</th>
            <th>Grupa</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var m in Model)
        {
            <tr>
                <td>@Html.ActionLink(m.Player.Name, m.Player.Id.ToString(), "Player")</td>
                <td>@m.Player.Birthday</td>
                <td>@m.Player.Address</td>
                <td>@m.Group.Name</td>
            </tr>
        }


    </tbody>
</table>

<p>
    @Html.ActionLink("Dodaj zawodnika", "New", "Player", null, new { @class = "btn btn-primary" })
</p>