@model myFootball.Models.Player

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wpisz dane nowego zawodnika i dodaj go do bazy.</h2>

<p>
    @using (Html.BeginForm("Save", "Player", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Birthday)
            @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Address)
            @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

            @* aorawiec: add handle to add image for player *@
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Image)
            @Html.TextBoxFor(m => m.Image, new { type = "file", name="file", id="file",  @class="form-control" })
            @*<input type="file" name="image" id="image" class="form-control"/><br><br>*@
        </div>


        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

        <button type="submit" class="btn btn-primary">Dodaj nowego zawodnika</button>
    }
</p>