@model myFootball.ViewModels.PlayerEditViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wpisz dane nowego zawodnika i dodaj go do bazy.</h2>

<p>
    @using (Html.BeginForm("Save", "Player", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        <div class="form-group">
            @Html.LabelFor(m => m.Player.Name)
            @Html.TextBoxFor(m => m.Player.Name, new { @class = "form-control" })
        </div>

        <div class="form-group">
            <div class='input-group date' id='datetimepicker'>
                @Html.LabelFor(m => m.Player.Birthday)
                @Html.TextBoxFor(m => m.Player.Birthday, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
         </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Player.Address)
                @Html.TextBoxFor(m => m.Player.Address, new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Player.GroupId)
                @Html.DropDownListFor(m => m.Player.GroupId, new SelectList(Model.Groups, "Id", "Name"), "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Player.GroupId)
            </div>


            <div class="form-group">
                @Html.LabelFor(m => m.Player.Image)
                @Html.TextBoxFor(m => m.Player.Image, new { type = "file", name = "file", id = "file", @class = "form-control" })
            </div>


            @Html.HiddenFor(m => m.Player.Id)
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-primary">Dodaj nowego zawodnika</button>
            }
</p>




@section scripts
{
    <script>
        $(document).ready(function () {

            $('#datetimepicker').datetimepicker();
        });

    </script>

}

