@model myFootball.ViewModels.TestAddViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p id="test">

    <div class="form-group">
        @Html.LabelFor(m => m.Test.Name)
        @Html.TextBoxFor(m => m.Test.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Test.Date)
        @Html.TextBoxFor(m => m.Test.Date, new { @class = "form-control" })
    </div>


    @Html.LabelFor(m => m.Test.Date)
    <div class="container">
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker'>
                        @Html.TextBoxFor(m => m.Test.Date, new { @class = "form-control" })
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Test.City)
        @Html.TextBoxFor(m => m.Test.City, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Test.KindOfTestId)
        @Html.DropDownListFor(m => m.Test.KindOfTestId, new SelectList(Model.KindOfTests, "Id", "Name"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Test.KindOfTestId)
    </div>


    @Html.HiddenFor(m => m.Test.Id)
    @Html.AntiForgeryToken()

    <button type="submit" class="btn btn-primary js-add-test"> Dodaj nowego test!</button>
</p>




@section scripts
{
    <script>

        $(document).ready(function () {


            $('#datetimepicker').datetimepicker();

            $(".js-add-test").on("click", function () {

                var button = $(this);
                bootbox.confirm("Czy jestes pewien, że chcesz dodać nowy test?", function (result) {
                    if (result) {

                        var name = document.getElementById("Test_Name").value;
                        var date = document.getElementById("Test_Date").value;
                        var city = document.getElementById("Test_City").value;
                        var kindoftest = document.getElementById("Test_KindOfTestID").value;


                        $.ajax({
                            url: "/api/test/",
                            method: "POST",
                            data: { name: name, date: date, city: city, KindOfTestId: kindoftest},
                            success: function (response) {
                                console.log(response);
                                window.location = "/test/" + response.id;
                            }
                        });
                    }
                });
            });
        });
    </script>
}