@model myFootball.ViewModels.TestRenderModel


@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Test.Name</h2>
<h3>@Model.Test.KindOfTest.Name</h3>
Liczba dyscyplin: @Model.ListOfDyscyplines.Count()

@*<h3>Data: @Model.Test.Date</h3>
    <h3>Id kind of test: @Model.Test.KindOfTestID.ToString()</h3>*@


<table class="table table-bordered table-hover" id="test" test_id="@Model.Test.Id">
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            @foreach (var d in Model.ListOfDyscyplines)
            {
                <th>@d.Name</th>
            }
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>
<br> <br>


<a id="js-edit" class="btn btn-primary">Edytuj zawodników</a>


<table class="table table-bordered table-hover" id="add-players">
    <thead>
        <tr>
            <th>Imię i nazwisko</th>
            <th>Miejscowość</th>
            <th>Dodaj</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<a id="js-save-players" class="btn btn-primary">Zakończ dodawanie nowych zawodników</a>




@section scripts
{
    <script>
        $(document).ready(function () {
            //declare buttons
            var ButtonAddPlayers = $("#js-add-player");
            var ButtonSavePlayers = $("#js-save-players");
            var ButtonEditPlayers = $("#js-edit");

            var TableTest = $("#test");
            var DataTablePlayers = $("#add-players");
            var DataTablePlayersWrapper;
            var IsTablePlayersCreated = false;

            var TextBoxPlayers = $('#textBoxPlayers');
            var DropDownList = document.getElementById("dropDownList");

            //declare startupview
            ButtonAddPlayers.hide();
            ButtonSavePlayers.hide();
            DataTablePlayers.hide();


            $("#test").DataTable({
                ajax: {
                    url: "/api/test/" + TableTest.attr("test_id"),
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                    },                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    },
                    {
                        data: "name",
                    }
                ]

            });


            ButtonEditPlayers.on("click", function () {
                ButtonAddPlayers.show();
                ButtonSavePlayers.show();
                ButtonEditPlayers.hide();
                IsTablePlayersCreated = CreateTableForPlayers(IsTablePlayersCreated, DataTablePlayers, DataTablePlayersWrapper);
                DataTablePlayersWrapper = $("#add-players_wrapper");

            });


            ButtonAddPlayers.on("click", function () {
                //pobieranie pełnych informacji o zawodniku
                //dodanie do bazy nowego zawodnika
                //sprawdzanie czy danego zawodnika nie ma juz w bazie i jesli jest to komunikat ze nie mozna dodac istniejacego zawodnika
                //DropDownList
                DataTable.row.add(["abcd", "abc", "abc", "bd", "bcs"]);
                DataTable.draw();
            });

            ButtonSavePlayers.on("click", function () {

                ButtonSavePlayers.hide();
                DataTablePlayersWrapper.hide();
                ButtonEditPlayers.show();
            });


            DataTablePlayers.on("click", ".js-add-player", function () {

                var button = $(this);
                $.ajax({
                    url: "/api/test/addplayertotest/" + TableTest.attr("test_id") + "/" + button.attr("data-player-id"),
                    method: "PUT",
                    success: function () {
                        console.log("Success");
                        button.parents("tr").remove();
                    }
                });
            });
        });


        function CreateTableForPlayers(IsCreated, TablePlayers, DataTablePlayersWrapper) {
            if (IsCreated) {

                DataTablePlayersWrapper.show();
                return true;

            } else {

                TablePlayers.show();
                TablePlayers.DataTable({
                    ajax: {
                        url: "/api/player",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name"
                        },
                        {
                            data: "address"
                        },
                        {
                            data: "id",
                            render: function (data, type, player) {
                                return "<button class='btn-link js-add-player' data-player-id=" + data + ">Dodaj zawodnika</button>";
                            }
                        }
                    ]

                });
                return true;
            }
            
        }
    </script>
}
